/* App.css */
* {
  font-family: "Cedarville Cursive"; 
  color: white;
}

body {
  background-color: black;
  text-align: center;
  font: serif;
}

button {
  background-color: #87431d;
  color: #fff;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 22px;
}

button:hover {
  background-color: #b0562b;
}

.spell-container {
  margin: 10px 0;
}

p {
  font-size: 18px;
  margin: 5px 0;
}